<caption>
	<h1>Расписание на <span class="to-day">
		<b><%= data[0]['day'] %></b></span>
	</h1>
</caption>

<table border="1" cellspacing="0" class="block">
	<tr>
		<th title="Урок">№</th>
		<th title="Расписание звонков">Расп. звон.</th>
		<% for (var i = 0; i < data.length; i++) { %>
			<th title="Класс" colspan="2"><%= data[i]['class'] %></th>
		<% } %>
	</tr>



	<tr>
		<td>1</td>
		<td>08:00-09:10</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>2</td>
		<td>09:25-10:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>3</td>
		<td>10:25-11:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>4</td>
		<td>11:25-12:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>5</td>
		<td>12:20-13:00</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>6</td>
		<td>13:15-13:55</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>7</td>
		<td>14:10-14:50</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>8</td>
		<td>15:05-15:45</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>9</td>
		<td>15:55-16:35</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
</table>


<br>
<hr>
<br>


<table border="1" cellspacing="0" class="block">
	<tr>
		<th title="Урок">№</th>
		<th title="Расписание звонков">Расп. звон.</th>
		<% for (var i = 0; i < data.length; i++) { %>
			<th title="Класс" colspan="2"><%= data[i]['class'] %></th>
		<% } %>
	</tr>


	<tr>
		<td>1</td>
		<td>08:00-09:10</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>2</td>
		<td>09:25-10:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>3</td>
		<td>10:25-11:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>4</td>
		<td>11:25-12:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>5</td>
		<td>12:20-13:00</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>6</td>
		<td>13:15-13:55</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>7</td>
		<td>14:10-14:50</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>8</td>
		<td>15:05-15:45</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>9</td>
		<td>15:55-16:35</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
</table>


<br>
<hr>
<br>


<table border="1" cellspacing="0" class="block">
	<tr>
		<th title="Урок">№</th>
		<th title="Расписание звонков">Расп. звон.</th>
		<% for (var i = 0; i < data.length; i++) { %>
			<th title="Класс" colspan="2"><%= data[i]['class'] %></th>
		<% } %>
	</tr>


	<tr>
		<td>1</td>
		<td>08:00-09:10</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>2</td>
		<td>09:25-10:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>3</td>
		<td>10:25-11:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>4</td>
		<td>11:25-12:05</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>5</td>
		<td>12:20-13:00</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>6</td>
		<td>13:15-13:55</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>7</td>
		<td>14:10-14:50</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>8</td>
		<td>15:05-15:45</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
	<tr>
		<td>9</td>
		<td>15:55-16:35</td>
		<% for (var i = 0; i < data.length && i < data.length; i++) { %>
			<td type="text" title="Алгебра"><%= data[i]['subject'] %></td>
			<td class="cab" type="text" title="кабинет"><%= data[i]['cabinet'] %></td>
		<% } %>
	</tr>
</table>