<div class="box">
	<table width="100%" border="1" cellspacing="0" cellpadding="4">
		<caption><h1>Расписание на 
			<select name="" id="">
				<option>Выберите день:</option>
				<option>Понедельник</option>
				<option>Вторник</option>
				<option>Среду</option>
				<option>Четверг</option>
				<option>Пятницу</option>
				<option>Субботу</option>
			</select>
		</caption>

		<tr>
			<th class="din-din">Расписание звонков</th>
			<th>5 А</th>
			<th>5 Б</th>
			<th>5 В</th>
		</tr>

		<tr title="Кабинет" onclick="print();"><th>Каб.</th></tr>

		<tr>
			<td>08:30 - 09:10</td>
			<td title="Русская словестность">Рус.слов</td>
			<td>Математика</td>
			<td title="Физическая культура">Физ-ра</td>
		</tr>

		<tr>
			<td>09:25-10:05</td>
			<td title="Всеобщая история">Всеобщ.ист</td>
			<td title="Русский язык">Рус.яз</td>
			<td title="Всеобщая история">Всеобщ.ист</td>
		</tr>

		<tr>
			<td>Смог, раз</td>
			<td>5</td>
			<td>5</td>
			<td>Всеобщ.история</td>
		</tr>
	</table>

	<table width="100%" border="1" cellspacing="0" cellpadding="4">
		<br>

		<tr>
			<th class="din-din">Расписание звонков</th>
			<th>10А</th>
			<th>10Б</th>
			<th>10В</th>
		</tr>

		<tr>
			<td>08:30 - 09:25</td>
			<td>Всеобщ.история</td>
			<td>2</td>
			<td>1</td>
		</tr>

		<tr>
			<td>3</td>
			<td>6</td>
			<td>Всеобщ.история</td>
			<td>7</td>
		</tr>

		<tr>
			<td>Смог, раз</td>
			<td>5</td>
			<td>5</td>
			<td>Всеобщ.история</td>
		</tr>
	</table>

	<table width="100%" border="1" cellspacing="0" cellpadding="4">
		<br>

		<tr>
			<th class="din-din">Расписание звонков</th>
			<th>10А</th>
			<th>10Б</th>
			<th>10В</th>
		</tr>

		<tr>
			<td>08:30 - 09:25</td>
			<td>Всеобщ.история</td>
			<td>2</td>
			<td>1</td>
		</tr>

		<tr>
			<td>5</td>
			<td>6</td>
			<td>Всеобщ.история</td>
			<td><a href="#" title="По общему расписанию" onclick="poObsh();">по общему</a></td>
		</tr>

		<tr>
			<td>Смог, раз</td>
			<td>5</td>
			<td>5</td>
			<td>Всеобщ.история</td>
		</tr>
	</table>
</div>