<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/img/favicon.svg" type="image/svg">
	<link rel="stylesheet" href="btn.css">
	<link rel="stylesheet" href="admin.css">
	<link rel="stylesheet" href="table.css">

	<title>Панель администратора</title>
</head>
<body>
	<div class="main">
		<a href="/"><button class="btn-rt">На главную</button></a>
		<center><div class="shadow"></div>
<!-- Date { -->
<%- include ("layouts/date.ejs") %>
<!-- } -->
			<h1 class="status">Загрузите таблицу</h1>
			<br>
			<hr>
			<br>
			<br>
			<form action="">

				<div class="table">
					<p><i style="color: gray;">* таблица *</i></p>
				</div>


			


			<br>
			<br>
			<hr>
			<br>
<style>
.upload{
	padding: 10px 0;
}
#btn{
	padding: 32px 48px 12px 48px;
}
#btn:hover{
	cursor: pointer;
}
</style>
			<button class="upload add" type="button">
				<label for="up" id="btn">
					<img src="img/upload.svg" alt="+" width="35"><span>Загрузить</span>
<input id="up" required style="display:none;" type="file">
				</label>
			</button>

			<button class="add" type="submit">
				<span>Опубликовать</span>
				<img src="img/send.svg" alt="+" width="35">
			</button>

			</form>
		</center>


			<div class="footer">
				<p>
					Посмотреть подробную информацию о нашей школе вы можете на нашем <a href="http://школа149.екатеринбург.рф" target="_blank"><b>официальном сайте</b></a> или в группе <a href="https://vk.com/school149ekb" target="_blank"><b>Вконтакте</b></a>
				</p>
			</div>


	</div>
<!-- Modale windows -->
	<div class="mobile">
		<br>
		<p>
			Ваше устройство не поддерживает полную версию сайта, пожалуйста, перейдите на мобильную
		</p>
		<br>
		<a href="/mobile"><button>мобильная версия</button></a>
	</div>

	<div class="obsh">
		<button class="closeBtn" onclick="closeWindow();">x</button>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est modi distinctio, labore numquam consequuntur tenetur cum, magni repellat eveniet reprehenderit nemo fuga maiores perspiciatis eos earum fugit, id mollitia minima? Placeat a est porro quaerat.
	</div>

<!-- Sockets working { -->
<script>
const btnUp = document.querySelector('input');
const statusTitle = document.querySelector('.status');
btnUp.onclick = () => {
	statusTitle.innerHTML = 'Загрузка...';
};
btnUp.addEventListener('change', async () => {
const content = await btnUp.files[0].text();
console.log(content)

var tab = document.querySelector('.table').innerHTML = content;

statusTitle.innerHTML = 'Таблица загружена';

// FILTERS {
document.querySelector('.table style').remove();
document.querySelector('.table meta').remove();
document.querySelector('.table table').style.border = '1';
document.querySelector('.table meta').remove();
// }

})
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	$(function () {
		var socket = io();

		$('form').submit((e) => {
			e.preventDefault();
			var data = {
				one: document.querySelector('.table').innerHTML,
				two: 'Понедельник'
			};
			console.log(data)
			socket.emit('dataPush', data);
			statusTitle.innerHTML = 'Успешно!';
		});
	  });
</script>
<!-- } -->

<script src="date.js"></script>
<script src="admin.js"></script>
</body>
</html>