<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="admin.css">
	<link rel="stylesheet" href="btn.css">

	<title>Панель администратора</title>
</head>
<body>

	<div class="main">
		<a href="/"><button class="btn-rt">На главную</button></a>
		<center>
			<div class="title">
				<h1 class="day">День</h1>
				<p><b class="hours">00:00</b> <span class="date">00.00.00</span></p>
			</div>

			<!-- Admin panel -->
			<%- include ("layouts/admin_panel") %>
			
		</center>



			<div class="footer">
				<p>
					Посмотреть подробную информацию о нашей школе вы можете на нашем <a href="http://школа149.екатеринбург.рф" target="_blank"><b>официальном сайте</b></a> или в группе <a href="https://vk.com/school149ekb" target="_blank"><b>Вконтакте</b></a>

					<button onclick="accept()">Подпись</button>
				</p>
			</div>


	</div>
	<div class="mobile">
		<p>
			Ваше устройство не поддерживает полную версию сайта, пожалуйста, перейдите на мобильную
		</p>
		<a href="/mobile"><button>мобильная версия</button></a>
	</div>

<script src="date.js"></script>
</body>
</html>