<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="btn.css">

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "4f74eaf6-6ee9-43a6-a7b1-fccf3f809129",
    });
  });
</script>

	<title>Расписание на сегодня</title>
</head>
<body>

	<div class="main">

		<!-- Login box {-->
			<%- include ("layouts/login.ejs") %>
		<!-- } -->

		<a href="/chat"><button class="btn-tc">Онлайн чат</button></a>
		<center>
			<div class="title">
				<h1 class="day">День</h1>
				<p><b class="hours">00:00</b> <span class="date">00.00.00</span></p>
			</div>



				<div class="box">
<style>
button span{
  position: relative;
  top: -12px;
  margin: 0 10px;
}

h1 select{
  width: 150px;
  text-align: center;
  position: relative;
  bottom: 5px;
}
.cab{
  width: 30px;
}

input{
  border: 0;
  text-align: center;
}

.box{
  max-width: 1500px;
}
h1, p, table, th{
  font-weight: 100;
}

table th,td,caption{
  padding: 5px 0;
}

table{
  border: solid 1px;
  border-radius: 5px;
  width: 100%;
}
td{
  text-align: center;
}
</style>
					<table border="1" cellspacing="0" class="block">
						<caption><h1>Расписание на <span class="to-day">
							<b><%= day[0]['day'] %></b>
						</span>
					</h1>
						</caption>
						<tr>
							<th title="Урок">№</th>
							<th title="Расписание звонков">Расп. звон.</th>
							<th><input title="Класс" placeholder="класс" /></th>
							<th class="cab" title="Кабинет"></th>
							<th><input title="Класс" placeholder="класс" /></th>
							<th class="cab" title="Кабинет">Каб.</th>
							<th><input title="Класс" placeholder="класс" /></th>
							<th class="cab" title="Кабинет">Каб.</th>
						</tr>



						<tr>
							<td>1</td>
							<td>08:00-09:10</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab cab-input" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
						<tr>
							<td>2</td>
							<td>09:25-10:05</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
						<tr>
							<td>3</td>
							<td>10:25-11:05</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
						<tr>
							<td>4</td>
							<td>11:25-12:05</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
						<tr>
							<td>5</td>
							<td>12:20-13:00</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
						<tr>
							<td>6</td>
							<td>13:15-13:55</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
						<tr>
							<td>7</td>
							<td>14:10-14:50</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
						<tr>
							<td>8</td>
							<td>15:05-15:45</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
						<tr>
							<td>9</td>
							<td>15:55-16:35</td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
							<td><input type="text" placeholder="предмет"></td>
							<td><input class="cab" type="text" placeholder="каб." title="кабинет"></td>
						</tr>
					</table>
				</div>
		</center>



			<div class="footer">
				<p>
					Посмотреть подробную информацию о нашей школе вы можете на нашем <a href="http://школа149.екатеринбург.рф" target="_blank"><b>официальном сайте</b></a> или в группе <a href="https://vk.com/school149ekb" target="_blank"><b>Вконтакте</b></a>

					<button onclick="accept()">Подпись</button>
				</p>
			</div>


	</div>
	<div class="mobile">
		<p>
			Ваше устройство не поддерживает полную версию сайта, пожалуйста, перейдите на мобильную
		</p>
		<a href="/mobile"><button>мобильная версия</button></a>
	</div>

<script src="alert.js"></script>
<script src="date.js"></script>
</body>
</html>