<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="btn.css">

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "4f74eaf6-6ee9-43a6-a7b1-fccf3f809129",
    });
  });
</script>

	<title>Расписание на сегодня</title>
</head>
<body><div class="shadow"></div>

	<div class="main">

		<!-- Login box {-->
			<%- include ("layouts/login.ejs") %>
		<!-- } -->

		<a href="/chat"><button class="btn-tc">Онлайн чат</button></a>
		<center>
			<div class="title">
				<h1 class="day">День</h1>
				<p><b class="hours">00:00</b> <span class="date">00.00.00</span></p>
			</div>


<!-- Tadble { -->
<%- include ('layouts/table.ejs') %>
<!-- } -->
		</center>



			<div class="footer">
				<p>
					Посмотреть подробную информацию о нашей школе вы можете на нашем <a href="http://школа149.екатеринбург.рф" target="_blank"><b>официальном сайте</b></a> или в группе <a href="https://vk.com/school149ekb" target="_blank"><b>Вконтакте</b></a>

					<button onclick="accept()">Подпись</button>
				</p>
			</div>


	</div>
	<div class="mobile">
		<p>
			Ваше устройство не поддерживает полную версию сайта, пожалуйста, перейдите на мобильную
		</p>
		<a href="/mobile"><button>мобильная версия</button></a>
	</div>

<!-- Sockets working { -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	$(function () {
		var socket = io();

		socket.on('dataPull', function(data){
			console.log(data)
			$('.box').html(data);
			scroll();
	    });
	  });
</script>
<!-- } -->
<script src="alert.js"></script>
<script src="date.js"></script>
</body>
</html>